/* CSS for the image-list-center-text-bottom layout */

.image-list-center-text-bottom {
    margin-top: 1em;
}

.image-text-group {
    overflow:hidden;
    zoom:1;
    margin-bottom: 2em;
}

.exhibit-item {
    float:center; 
    width: 90%;
    text-align: center;	
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 2%;
}

.exhibit-item img {
    max-width: 90%;
}

.exhibit-text {
    float:center;
    padding-left: 4%;
    padding-right: 4%;
    width: 92%;
}

.exhibit-item-caption p {
    text-align: center;
}
