/* CSS for the image-list-center-text-bottom layout */

.image-list-center-text-bottom {
    margin-top: 2em;
}

.image-text-group {
    overflow:hidden;
    zoom:1;
}

.exhibit-item {
    float:center; 
    width: 90%;
    margin-bottom: 2%;
    text-align: center;	
    margin: auto;
}

.exhibit-item img {
    margin: auto;
    max-width: 90%;
}

.exhibit-text {
    float:center;
    padding: 4%;
    width: 92%;
}

.exhibit-item-caption p {
    text-align: center;
}
    
